.not-selected {
    background-color: #000000;
}

.selected {
    background-color: #cccccc;
}

.button {
    transition: all 0.15s linear 0s;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    padding-left: 10px;
    padding-right: 10px;
}

.button:active {
    top: 3px;
    left: -3px;
}

.drawingArea {
    background-color: #dddddd;
}

.gameObject {
    drop-shadow(30px 10px 4px #eeeeee);
}

.infoLabel {
    text-overline-color: #ffffff;
}